* {
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  text-align: center;
}

html,
body,
#main-container {
  height: 100%;
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: auto;
}

.spaced {
  margin: 8px 24px;
}

#title {
  font-weight: 100;
  background-color: darkorange;
  color: white;

  padding: 8px 16px;
  border-radius: 8px;
}

.animate-first {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 0.5s;
}

.animate-second {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 1.5s;
}

#subtitle {
  font-weight: 400;
  font-style: italic;
}

.gray-background {
  background-color: rgb(230, 230, 230);
  margin: 0px;
  padding: 8px 24px;
}

a {
  color: darkorange;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
