* {
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  text-align: center;
}

html,
body,
.all-content {
  height: 100%;
  margin: 0;
}

.all-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: auto;
}

.spaced {
  margin: 8px 24px;
}

.title {
  font-weight: 100;
  background-color: darkorange;
  color: white;

  padding: 8px 16px;
  border-radius: 8px;
}

.animate-first {
  opacity: 0;
  animation: fade-in 0.5s forwards;
}

.animate-second {
  opacity: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: 1s;
}

.subtitle {
  font-weight: 500;
  font-style: italic;
}

a {
  color: darkorange;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
